<nav class="pt-1">
    <div class="flex">
        <a href="/" class="flex">
            <div class="px-2">
                <img class="w-auto ml-6 py-2" style="height: 4rem;" src="/images/microsoft-logo.png">
            </div>
            <div class="text-gray-600 py-3 text-3xl" style="position: relative;">
                <h1>| Teams</h1>
            </div>
        </a>
        <div class="text-gray-600 pt-3 text-xl mt-2 ml-10" style="position: relative;">
          <a href="/chat">Chat</a>
        </div>
        <div class="text-gray-600 pt-3 text-xl mt-2 ml-10" style="position: relative;">
          <a href="/calls">Call a friend</a>
        </div>
        <div class="text-gray-600 pt-3 text-xl mt-2 ml-10" style="position: relative;">
          <a href="/meet">Meet</a>
        </div>
        <div class="text-gray-600 pt-3 text-xl mt-2 ml-10" style="position: relative;">
          <a href="/chatroom">Chat Rooms</a>
        </div>
        <div class="text-gray-600 pt-3 text-xl mt-2 ml-10" style="position: relative;">
          <a href="/help">Help</a>
        </div>
        <div class="text-gray-600 pt-3 text-xl mt-2 ml-10" style="position: relative;">
          <a href="/logout">Logout</a>
        </div>
        <div class="flex text-gray-600 pl-72" style= "position: relative;">
            <p class="text-2xl text-right pt-4"id="u1ser"><%= user.name %></p>
            <img id="user-image" src= <%= user.dp %> class="w-14 h-14 rounded-full ml-4 mt-2">
        </div>
    </div>
</nav>