<html>
    <head>
        <title>Teams</title>
        <link rel="stylesheet" href="/stylest.css">
    </head>
    <body class="bg-white">
      <%- include('partials/header'); -%>
        <a class="text-blue-500" href="https://docs.google.com/document/d/10yp5iYYrzNDQmN78vg5IXVAh_ElKw9raynkQCmDx36E/edit">Link for documentation: </a>
<%- include('partials/footer'); -%>