<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylest.css">
    <title>Teams Clone</title>
</head>
<body>
  <%- include('partials/header') -%>
    <div class="flex">
      <div class="m-24">
        <h1 class="text-blue-500 text-6xl font-bold py-5">Microsoft Teams</h1>
        <p class="text-4xl mb-8">Meet, chat, call, and collaborate in just one place.</p>
        <a class="flex bg-blue-900 text-white text-4xl rounded-lg p-2 px-3" href='/auth/facebook'><img class="w-16 h-auto mr-4" src="/images/facebook-logo.jpg"><p>Login with Facebook</p></a>
      </div>
      <div>
        <img src="/images/teams-logo.jpg" class="m-24 ml-0" style="width: 40rem; height: auto;">
      </div>
    </div>
  <footer>
    <p class="text-gray-600 text-center">This is an ms teams clone made for engage'21 by Aakash Solanki. All right reserved</p>
  </footer>
</body>
</html>